speech-text/flows.json
[
    {
        "id": "b3719c686e982faa",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "777a2a463ff5e535",
        "type": "telegram receiver",
        "z": "b3719c686e982faa",
        "name": "",
        "bot": "17eec6c1a15359c5",
        "saveDataDir": "",
        "filterCommands": false,
        "x": 190,
        "y": 180,
        "wires": [
            [
                "f51f06e4c1722c07",
                "de8771194db28417"
            ],
            []
        ]
    },
    {
        "id": "f51f06e4c1722c07",
        "type": "debug",
        "z": "b3719c686e982faa",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 120,
        "wires": []
    },
    {
        "id": "f99aeb9dee391020",
        "type": "watson-speech-to-text",
        "z": "b3719c686e982faa",
        "name": "Watson STT",
        "alternatives": 1,
        "speakerlabels": true,
        "smartformatting": false,
        "lang": "pt-BR",
        "langhidden": "pt-BR",
        "langcustom": "NoCustomisationSetting",
        "langcustomhidden": "",
        "custom-weight": "0.5",
        "band": "BroadbandModel",
        "bandhidden": "",
        "keywords": "",
        "keywords-threshold": "0.5",
        "word-confidence": false,
        "password": "",
        "apikey": "ynsWEnhRJw85BtP9n5qf-dzy77RdAhsoovQHBC8wjeQR",
        "payload-response": true,
        "streaming-mode": false,
        "streaming-mute": true,
        "auto-connect": false,
        "discard-listening": false,
        "disable-precheck": false,
        "service-endpoint": "https://api.au-syd.speech-to-text.watson.cloud.ibm.com/instances/0cf9088a-2ed4-4a25-83c0-2081989018b4",
        "x": 610,
        "y": 300,
        "wires": [
            [
                "574569840999c9d9"
            ]
        ]
    },
    {
        "id": "de8771194db28417",
        "type": "function",
        "z": "b3719c686e982faa",
        "name": "function 3",
        "func": "msg.payload = msg.payload.weblink;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 260,
        "wires": [
            [
                "f99aeb9dee391020"
            ]
        ]
    },
    {
        "id": "574569840999c9d9",
        "type": "debug",
        "z": "b3719c686e982faa",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 180,
        "wires": []
    },
    {
        "id": "ffdf20c91535c274",
        "type": "inject",
        "z": "b3719c686e982faa",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Oiiiiiiiiiiiiiiiiii, Como você ta mariazinha?",
        "payloadType": "str",
        "x": 410,
        "y": 460,
        "wires": [
            [
                "20155fe486f83008"
            ]
        ]
    },
    {
        "id": "20155fe486f83008",
        "type": "watson-text-to-speech",
        "z": "b3719c686e982faa",
        "name": "Watsonn TTS",
        "lang": "pt-BR",
        "langhidden": "pt-BR",
        "langcustom": "NoCustomisationSetting",
        "langcustomhidden": "",
        "voice": "pt-BR_IsabelaV3Voice",
        "voicehidden": "",
        "format": "audio/wav",
        "password": "",
        "apikey": "qx4hcfyYMKUwUjBCjMFy0XSkiRlggBucQsFQj8okkBNm",
        "payload-response": true,
        "service-endpoint": "https://api.au-syd.text-to-speech.watson.cloud.ibm.com/instances/a52fb0f0-7609-42b3-bf02-0471d5049929",
        "x": 640,
        "y": 500,
        "wires": [
            [
                "7811db27bed0961b",
                "ea4bf9f39e3b1891"
            ]
        ]
    },
    {
        "id": "7811db27bed0961b",
        "type": "function",
        "z": "b3719c686e982faa",
        "name": "function 4",
        "func": "msg.payload = {\n    chatId: 6682813067,\n    type: \"voice\",\n    content: msg.payload\n};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 560,
        "wires": [
            [
                "0875b383fe26a28c",
                "64cdd854975c717d"
            ]
        ]
    },
    {
        "id": "0875b383fe26a28c",
        "type": "telegram sender",
        "z": "b3719c686e982faa",
        "name": "",
        "bot": "17eec6c1a15359c5",
        "haserroroutput": false,
        "outputs": 1,
        "x": 970,
        "y": 700,
        "wires": [
            []
        ]
    },
    {
        "id": "ea4bf9f39e3b1891",
        "type": "debug",
        "z": "b3719c686e982faa",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 900,
        "y": 460,
        "wires": []
    },
    {
        "id": "64cdd854975c717d",
        "type": "debug",
        "z": "b3719c686e982faa",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1060,
        "y": 560,
        "wires": []
    },
    {
        "id": "17eec6c1a15359c5",
        "type": "telegram bot",
        "botname": "Jarves",
        "usernames": "",
        "chatids": "",
        "baseapiurl": "",
        "updatemode": "polling",
        "pollinterval": "300",
        "usesocks": false,
        "sockshost": "",
        "socksprotocol": "socks5",
        "socksport": "6667",
        "socksusername": "anonymous",
        "sockspassword": "",
        "bothost": "",
        "botpath": "",
        "localbotport": "8443",
        "publicbotport": "8443",
        "privatekey": "",
        "certificate": "",
        "useselfsignedcertificate": false,
        "sslterminated": false,
        "verboselogging": false
    }
]